In [81]:
import os
import pandas as pd
import numpy as np
import torch
import matplotlib as plt
from sklearn.model_selection import train_test_split
import torch.nn.functional as F
from torch.utils.data import TensorDataset, random_split

from torch.utils.data import Dataset, DataLoader

In [82]:
# IF THE TNESOR IS ALREADY DOWNLOADED, SKIP OVER ALL OF THIS UNTIL YOU FIND THE CELL USING THE LOAD FUNCTION

# Dictionary of file names cateogrized by wich round they are in
files_by_round = {'r0': ['2024-06-05_r0_np-cc_repeat_aa-seq-counts.tsv.gz', '2024-06-05_r0_np-cc_aa-seq-counts.tsv.gz', '2024-06-05_r0_np-cc_gel-extract_aa-seq-counts.tsv.gz'], 'r1': ['2024-06-05_r1_np-cc_gel-extract_aa-seq-counts.tsv.gz', '2024-06-05_r1_np-cc_aa-seq-counts.tsv.gz', ], 'r5': ['2024-06-05_r5_np-cc_aa-seq-counts.tsv.gz']}

# files_by_round = {'r0': ['2024-06-05_r0_np-cc_repeat_aa-seq-counts.tsv.gz', '2024-06-05_r0_np-cc_aa-seq-counts.tsv.gz']}
# /Users/tlorant/Documents/MBE/environment.yml
r0 = pd.DataFrame()
r1 = pd.DataFrame()
r5 = pd.DataFrame()

for round in files_by_round:
    for file in files_by_round[round]:
        print(file)
        if round == 'r0':
            if r0.size == 0:
                r0 = pd.read_csv("./../out/corrected/counts/" + file, sep='\t')
            else:
                new_read = pd.read_csv("./../out/corrected/counts/" + file, sep='\t')
                r0 = pd.merge(r0, new_read, how='outer', on='sequence', suffixes=('_r0', '_new_read'))
                r0.fillna(0, inplace=True)
                r0['count'] = r0['count_r0'] + r0['count_new_read']
                r0.drop(columns=['count_r0', 'count_new_read'], axis=1, inplace=True)

        if round == 'r1':
            if r1.size == 0:
                r1 = pd.read_csv("./../out/corrected/counts/" + file, sep='\t')
            else:
                new_read = pd.read_csv("./../out/corrected/counts/" + file, sep='\t')
                r1 = pd.merge(r1, new_read, how='outer', on='sequence', suffixes=('_r1', '_new_read'))
                r1.fillna(0, inplace=True)
                r1['count'] = r1['count_r1'] + r1['count_new_read']
                r1.drop(columns=['count_r1', 'count_new_read'], axis=1, inplace=True)

        if round == 'r5':
            if r5.size == 0:
                r5 = pd.read_csv("./../out/corrected/counts/" + file, sep='\t')
            else:
                new_read = pd.read_csv("./../out/corrected/counts/" + file, sep='\t')
                r5 = pd.merge(r5, new_read, how='outer', on='sequence', suffixes=('_r5', '_new_read'))
                r5.fillna(0, inplace=True)
                r5['count'] = r5['count_r0'] + r5['count_new_read']
                r5.drop(columns=['count_r0', 'count_new_read'], axis=1, inplace=True)

2024-06-05_r0_np-cc_repeat_aa-seq-counts.tsv.gz
2024-06-05_r0_np-cc_aa-seq-counts.tsv.gz
2024-06-05_r0_np-cc_gel-extract_aa-seq-counts.tsv.gz
2024-06-05_r1_np-cc_gel-extract_aa-seq-counts.tsv.gz
2024-06-05_r1_np-cc_aa-seq-counts.tsv.gz
2024-06-05_r5_np-cc_aa-seq-counts.tsv.gz

In [83]:
# merge r0 and r1
r01 = pd.merge(r0, r1, on='sequence', how='outer', suffixes=('_r0', '_r1'))
r01.fillna(0, inplace=True)
r01 = r01.head()

In [84]:
# Get the amion acids
# aminon_acids = pd.Series(list(lil['sequence'][0])).unique()
aminon_acids = pd.Series(list(r01['sequence'][0])).unique()
print(aminon_acids)
print(len(aminon_acids))

['M' 'A' 'D' 'G' 'Y' 'L' 'P' 'W' 'E' 'N' 'C' 'I' 'R' 'K' 'Q' 'H' 'V' 'F'
 'S' 'T' '*']
21

In [85]:
aa_mapping = {aminon_acids[i]: i for i in range(len(aminon_acids))}
aa_mapping

{'M': 0,
 'A': 1,
 'D': 2,
 'G': 3,
 'Y': 4,
 'L': 5,
 'P': 6,
 'W': 7,
 'E': 8,
 'N': 9,
 'C': 10,
 'I': 11,
 'R': 12,
 'K': 13,
 'Q': 14,
 'H': 15,
 'V': 16,
 'F': 17,
 'S': 18,
 'T': 19,
 '*': 20}

In [86]:
aa_mapping['Nan'] = 21
aa_mapping

{'M': 0,
 'A': 1,
 'D': 2,
 'G': 3,
 'Y': 4,
 'L': 5,
 'P': 6,
 'W': 7,
 'E': 8,
 'N': 9,
 'C': 10,
 'I': 11,
 'R': 12,
 'K': 13,
 'Q': 14,
 'H': 15,
 'V': 16,
 'F': 17,
 'S': 18,
 'T': 19,
 '*': 20,
 'Nan': 21}

In [87]:
token_seq = r01['sequence'].apply(lambda x: pd.Series(list(x)))
token_seq

,0,1,2,3,4,5,6,7,8,9,...,729,730,731,732,733,734,735,736,737,738
0,M,A,A,D,G,Y,L,P,D,W,...,T,R,Y,L,T,R,N,L,*,NaN
1,M,A,A,D,G,Y,L,P,D,W,...,G,T,R,Y,L,T,R,N,L,*
2,M,A,A,D,G,Y,L,P,D,W,...,T,R,Y,L,T,R,N,L,*,NaN
3,M,A,A,D,G,Y,L,P,D,W,...,Y,L,T,R,N,L,*,NaN,NaN,NaN
4,M,A,A,D,G,Y,L,P,D,W,...,T,R,Y,L,T,R,N,L,*,NaN

In [88]:
token_seq.columns = [f'aa_{i}' for i in range(token_seq.shape[1])]
token_seq

,aa_0,aa_1,aa_2,aa_3,aa_4,aa_5,aa_6,aa_7,aa_8,aa_9,...,aa_729,aa_730,aa_731,aa_732,aa_733,aa_734,aa_735,aa_736,aa_737,aa_738
0,M,A,A,D,G,Y,L,P,D,W,...,T,R,Y,L,T,R,N,L,*,NaN
1,M,A,A,D,G,Y,L,P,D,W,...,G,T,R,Y,L,T,R,N,L,*
2,M,A,A,D,G,Y,L,P,D,W,...,T,R,Y,L,T,R,N,L,*,NaN
3,M,A,A,D,G,Y,L,P,D,W,...,Y,L,T,R,N,L,*,NaN,NaN,NaN
4,M,A,A,D,G,Y,L,P,D,W,...,T,R,Y,L,T,R,N,L,*,NaN

In [89]:
seq_mapped = token_seq.map(lambda x: aa_mapping.get(x))
seq_mapped

,aa_0,aa_1,aa_2,aa_3,aa_4,aa_5,aa_6,aa_7,aa_8,aa_9,...,aa_729,aa_730,aa_731,aa_732,aa_733,aa_734,aa_735,aa_736,aa_737,aa_738
0,0,1,1,2,3,4,5,6,2,7,...,19,12,4,5,19,12,9,5.0,20.0,NaN
1,0,1,1,2,3,4,5,6,2,7,...,3,19,12,4,5,19,12,9.0,5.0,20.0
2,0,1,1,2,3,4,5,6,2,7,...,19,12,4,5,19,12,9,5.0,20.0,NaN
3,0,1,1,2,3,4,5,6,2,7,...,4,5,19,12,9,5,20,NaN,NaN,NaN
4,0,1,1,2,3,4,5,6,2,7,...,19,12,4,5,19,12,9,5.0,20.0,NaN

In [90]:
seq_mapped.fillna(21, inplace=True)
seq_mapped

,aa_0,aa_1,aa_2,aa_3,aa_4,aa_5,aa_6,aa_7,aa_8,aa_9,...,aa_729,aa_730,aa_731,aa_732,aa_733,aa_734,aa_735,aa_736,aa_737,aa_738
0,0,1,1,2,3,4,5,6,2,7,...,19,12,4,5,19,12,9,5.0,20.0,21.0
1,0,1,1,2,3,4,5,6,2,7,...,3,19,12,4,5,19,12,9.0,5.0,20.0
2,0,1,1,2,3,4,5,6,2,7,...,19,12,4,5,19,12,9,5.0,20.0,21.0
3,0,1,1,2,3,4,5,6,2,7,...,4,5,19,12,9,5,20,21.0,21.0,21.0
4,0,1,1,2,3,4,5,6,2,7,...,19,12,4,5,19,12,9,5.0,20.0,21.0

In [91]:
import torch.nn.functional as F
seq_tensor = torch.tensor(seq_mapped.values)
print(type(seq_tensor))
long_seq_tensor = seq_tensor.long()
one_hot1 = F.one_hot(long_seq_tensor, num_classes=len(aa_mapping))
one_hot1

<class 'torch.Tensor'>

tensor([[[1, 0, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         ...,
         [0, 0, 0,  ..., 0, 0, 0],
         [0, 0, 0,  ..., 0, 1, 0],
         [0, 0, 0,  ..., 0, 0, 1]],

        [[1, 0, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         ...,
         [0, 0, 0,  ..., 0, 0, 0],
         [0, 0, 0,  ..., 0, 0, 0],
         [0, 0, 0,  ..., 0, 1, 0]],

        [[1, 0, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         ...,
         [0, 0, 0,  ..., 0, 0, 0],
         [0, 0, 0,  ..., 0, 1, 0],
         [0, 0, 0,  ..., 0, 0, 1]],

        [[1, 0, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         ...,
         [0, 0, 0,  ..., 0, 0, 1],
         [0, 0, 0,  ..., 0, 0, 1],
         [0, 0, 0,  ..., 0, 0, 1]],

        [[1, 0, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         [0, 1, 0,  ..., 0, 0, 0],
         ...,
         [0, 0, 0,  ..., 0, 0, 0],
         [0, 0, 0,  ..., 0, 1, 0],
         [0, 0, 0,  ..., 0, 0, 1]]])

In [92]:
one_hot1.shape

torch.Size([5, 739, 22])

In [93]:
one_hot1.shape[1]

739

In [94]:
one_hot1_2d = one_hot1.view(one_hot1.shape[0], one_hot1.shape[1] * one_hot1.shape[2])
one_hot1_2d

tensor([[1, 0, 0,  ..., 0, 0, 1],
        [1, 0, 0,  ..., 0, 1, 0],
        [1, 0, 0,  ..., 0, 0, 1],
        [1, 0, 0,  ..., 0, 0, 1],
        [1, 0, 0,  ..., 0, 0, 1]])

In [95]:
one_hot1_2d.shape

torch.Size([5, 16258])

In [96]:
r0_counts = (torch.tensor(r01['count_r0'].values)).view(-1,1)
r0_counts

tensor([[1.],
        [1.],
        [0.],
        [1.],
        [1.]], dtype=torch.float64)

In [97]:
r1_counts = (torch.tensor(r01['count_r1'].values)).view(-1,1)
r1_counts

tensor([[0.],
        [0.],
        [1.],
        [0.],
        [0.]], dtype=torch.float64)

In [98]:
print(r0_counts.shape)
print(r1_counts.shape)

torch.Size([5, 1])
torch.Size([5, 1])

In [99]:
type(r0_counts)

torch.Tensor

In [100]:
r0_sum = torch.sum(r0_counts)
r1_sum = torch.sum(r1_counts)

In [101]:
r0_counts = r0_counts/r0_sum
r1_counts = r1_counts/r1_sum

In [102]:
data_tensor = torch.concat((r0_counts, r1_counts, one_hot1_2d), dim=1)

In [103]:
data_tensor.shape

torch.Size([5, 16260])

In [104]:
torch.save(data_tensor, 'stored_data_tensor.pt')

In [3]:
data_tensor = torch.tensor((torch.load('stored_data_tensor.pt')))

/tmp/ipykernel_44203/89510504.py:1: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  data_tensor = torch.tensor((torch.load('stored_data_tensor.pt')))

In [105]:
data_tensor

tensor([[0.2500, 0.0000, 1.0000,  ..., 0.0000, 0.0000, 1.0000],
        [0.2500, 0.0000, 1.0000,  ..., 0.0000, 1.0000, 0.0000],
        [0.0000, 1.0000, 1.0000,  ..., 0.0000, 0.0000, 1.0000],
        [0.2500, 0.0000, 1.0000,  ..., 0.0000, 0.0000, 1.0000],
        [0.2500, 0.0000, 1.0000,  ..., 0.0000, 0.0000, 1.0000]],
       dtype=torch.float64)

In [106]:
# Start desigining the model

# Split the data:
# from torch.utils.data import TensorDataset, random_split
######################################
# if type(data_tensor) == pd.DataFrame:
#     data_tensor = torch.tensor(data_tensor.values)

# dataset = TensorDataset(data_tensor)

In [138]:
training_data, validation_data = train_test_split(data_tensor, train_size=0.8, test_size=0.2, shuffle=True, random_state=42)

In [146]:
class AADataset(Dataset):
    
    def __init__(self, data):
        super().__init__()
        
        self.sample_size = (data.size())[1]

        self.indep = torch.cat((data[:,:1], data[:,2:]), dim = 1)
        self.dep = data[:,1]
        

    def __getitem__(self, index):
        return self.indep[index], self.dep[index]

    def __len__(self):
        return self.sample_size
    
    def get_cols(self):
        return self.indep.shape[1]

In [148]:
t_ds = AADataset(training_data)
v_ds = AADataset(validation_data)

In [118]:
# # Determine the sizes for the splits
# total_size = len(dataset)
# split_80 = int(total_size * 0.8)
# split_20 = total_size - split_80

# # Split the dataset
# train_dataset, validation_dataset = random_split(dataset, [split_80, split_20])

# # Convert the subsets back to tensors
# train_data = torch.stack([x[0] for x in train_dataset])
# validation_data = torch.stack([x[0] for x in validation_dataset])

In [119]:
# In theory you shouldn't need this...

# del dataset
# del split_20
# del split_80
# del data_tensor
# del train_dataset
# del validation_dataset

In [120]:
# t_indep = torch.cat((train_data[:,:1], train_data[:,2:]), dim = 1)
# v_indep = torch.cat((validation_data[:,:1], validation_data[:,2:]), dim = 1)

# t_dep = train_data[:,1]
# v_dep = validation_data[:,1]

In [122]:
n_coeffs = dataset.t_indep.shape[1]
n_coeffs

16259

In [123]:
coeffs = torch.rand(n_coeffs)-0.5
coeffs

tensor([-0.0107, -0.1504, -0.4107,  ..., -0.4269, -0.2917, -0.4008])

In [43]:
# Function to calcualte predictions
def calc_preds(coeffs, indeps): return (indeps*coeffs).sum(axis=1) # axis = 1 because we want to sum the rows 

# Function to calcualte loss:
def calc_loss(coeffs, indeps, deps): return torch.abs(calc_preds(coeffs, indeps)-deps).mean()

In [44]:
def one_batch(batch, coeffs, lr):
    loss = calc_loss(coeffs, batch[0], batch[1])
    loss.backward() # Calculates the graident
    with torch.no_grad(): update_coeffs(coeffs, lr)
    return loss

def update_coeffs(coeffs, lr):
    coeffs.sub_(coeffs.grad * lr)
    coeffs.grad.zero_()

def one_epoch(coeffs, lr):
    for b in 
    loss = calc_loss(coeffs, dataset.t_indep, dataset.t_dep)
    # loss.backward() # Calculates the graident
    # with torch.no_grad(): update_coeffs(coeffs, lr)
    print(f"{loss:.3f}", end="; ")

def init_coeffs(): return (torch.rand(n_coeffs)-0.5).requires_grad_()

In [45]:
def train_model(epochs=30, lr=0.01):
    torch.manual_seed(442)
    coeffs = init_coeffs()

    for i in range(epochs): one_epoch(coeffs, lr=lr)
    return coeffs

In [46]:
coeffs = train_model(1, 0.2)

coefficients were initialized
Calculated loss
Calculated gradients
2.831;